*
{
    margin: 0;
    padding: 0;
}

header {
    background-image:  url('pexels.jpg');
    height: 100vh;
    background-size:contain;
    background-position:center;
}
.nav-menu {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-menu li {
    display: inline-block
}
.nav-menu li a {
    color:aqua;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

.homebtn a {
    border: 1px solid grey;
    background-color: white;
}
.nav-menu li a:hover {
    border:1px solid grey;
    background-color: white;
}
.tagline {
    position:absolute;
    width:1200px;
    margin-left:0;
    margin-top:0;
}
h1 {
    color:wheat;
    font-size:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:top;
    margin-top:12px;

}
body {color: white;
    font-size: 15px;
    text-align:justify;
    margin:bottom; 


}
.bttn {
    border:1px solid whitesmoke;
    padding:10px 30px;
    color:aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: size 22px;
}
img.pic {
    width:188px;
    float:left;
    border:3px black solid;
    margin-right:10px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }